<h1>Bookshelf</h1>
<% @books.each do |book| %>
  <h2><%= book.title %></h2>
  <p><img src="<%= book.image_url %>" width=20%, height= 20%></p> 
  <p>Author: <%= book.author %></p>
  <%= link_to "More Info", book %>
<% end %>

<a href="books/new">New Book</a>